.div1{ 
display: flex;
justify-content:space-between;
width:20%;
margin-left: 1180px;
margin-top:50px;
font-size: 20px;
}
.div2{
    padding: 60px;
    margin-top: 90px;
    margin-left: 50px;
    width: 50%;
    font-size: 20px;
}
.button{
background-color: red;
font-size:15px;
color:white;
border:red;
height:35px;
width:180px;
}
.parent{
    display: flex;
    justify-content:space-evenly;
    background-color:white;
    height: 570px;
   
}
.div3{
    margin-top: 190px;
    margin-left: 0px;
    
}
.img1{
    border-radius:70%;
                                            /* this is first page */
}
.nav2{
    display:flex;
    justify-content:space-around;
    height:410px;
    background-color:rgb(200, 229, 241);
    padding: 1%;
   
}
.div11{
    background-color:aliceblue;
    height: 290px;
    width:35%;
    margin-top: 50px;
    padding: 1%;
    margin-left: 140px;
    font-size: 20px;
    border-radius: 5px;
}
.div22{
    background-color:aliceblue;
    height: 290px;
    width:35%;
    margin-top: 50px;
    padding: 1%;
    margin-right: 140px;
    font-size: 20px;
    border-radius: 5px;
}

                                            /* this is second page */


.nav33{
    display: flex;
    justify-content:space-between;
    background-color:rgb(200, 229, 241);
    height: 50px;
}
.third{
    display:flex;
    justify-content:space-around;

}
.minu{
    display:flex;
    justify-content:space-around; 
}
.works{
    height: 50px;
    margin-left: 190px;
    font-size: 20px;
}
.photo{
    width:20%;
    margin-left:170px;
}
.img2{
    border-radius: 10px;
}
.divp{
    width: 80%;
    margin-left: 20px;
}
.bb22{
    background-color: black;
    color: white;
    border-radius:30px;
 
}
                  /* this is third page */
.foot{
   
    background-color:whitesmoke;
    height: 110px;
    margin-top: 40px;
 }
 .para{
    text-align:center;
 }
 .end{
    display: flex;
    justify-content:center;
    margin-top: 40px;
 }
 .form{
    display: flex;
    justify-content:start;
    border: 2px solid black;
    height: 250px;
    width: 65%;
    margin-top: 40px;
    margin-left: 12%;
    font-size: 30px;
    background-color:whitesmoke;
    border-radius: 20px;
 }
 form{
    margin-left: 20px;
 }
.year{
    display: flex;
    justify-content: space-between;
    width: 15%;
    color:silver;
}